


#root {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  background-color: #D8E7F5;
  height: 100%;
}

/* header rules */

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color:white;
}

a:hover{
  /* color: #2E9CCA; */
  color:#32a1a7
}

.header {
  width: 100vw;
  height: 7.5vh;
  /* border: 1px solid black; */
  background-color: #0B0C10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  font-size: 1.5rem;
  flex-wrap: wrap;

}

.headerItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin: 0 2% 0 0;
  /* width: 30vw; */
   /* font-size: min(2.5vh, 1.5rem);*/
  font-size: min(5.5vmin, 24px);
  

}

.headerItem {
  /* border: 1px solid black; */
  /* margin: 0 20px; */
  margin: 0 min(20px, 5vw);
  

}

:hover.headerItem {
  /* color: #2E9CCA; */
  color:#32a1a7
}

#name {
  /* font-size: min(3.5vh, 2rem); */
  font-size: min(5.5vmin, 32px);
  margin: 0 0 0 20px;
  /* color: #2E9CCA; */
  color:#32a1a7
}

/* about component css rules */

#contentCont{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D8E7F5;
  background-color: #17242a;
  color: whitesmoke;
  position: relative;
}

.aboutContent {
  /* border: 1px solid black; */
  width:70vw;
  /* height: 70vh; */
  min-height: 85vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 7.5vh 0 2% 0;
  /* color: black; */
  color: whitesmoke;
  /* background-color: #c1ceda; */
  border-radius: 5px;
  /* box-shadow: 4px 5px 14px 0px #a9a9a9; */
  box-shadow: 4px 5px 14px 0px #12181d;
  font-size: min(max(12px, 2.4vw), 19px);

}

#picture {
  width: 30%;
  max-width: 250px;
  /* height: 100%; */
  /* border: 1px solid black; */
  margin: 0 auto;
  border-radius: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;

}

#headshot {
  width:90%;
  border-radius: 50%;
  border: .5em solid #32a1a733;
}

.aboutTextCont {
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* height: 100%; */
  min-height: 85vh;
  justify-content: space-between;
  width: 95%;

}

.aboutTextItem {
  margin: 5px;
  text-align: left;

}

.aboutTitle{
  /* font-size: min(max(14px, 1.7vw), 24px); */
  font-size: min(max(14px, 2.8vw), 24px);
  font-weight: bold;
}

#bioTitle {
  text-indent: 0px;

}

#bioCont {
  line-height: 150%;
  text-indent: 1rem;
  display: flex;
  flex-direction: column;

}

#bioCont p{
  margin-top:0;
}

#bioText{


}

#edTitle{
  /* font-size: 1.5rem; */
  /* font-weight: bold; */
  /* margin: 0 0 0 5%;
  align-self: center; */
  text-indent: 0;

}

#edCont{
  line-height: 150%;
  /* text-indent: 1rem; */
  display: flex;
  flex-direction: column;
  /* margin: 0 0 0 5%; */

}

/* #uclaLogo{
  height: 40px;
  margin:0;
} */

#skillTitle{
  width: 100%;
  /* font-size: 1.5rem;
  font-weight: bold; */
  /* align-self: center; */

}

#skills {
  margin: 10px 0;
}

#skillCont{
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr 1fr; */
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0 10px 0;
}

#skillCont img {
  height:50px;
  max-height: 6vw;
  margin: 0 5px 5px 5px;
}










/* multiple projects page css rules */

.projects {
  min-height:93vh;
  /* background-color: #c1ceda; */
  /* background-color: #34494c; */
  background-color: #0d1117;
  scroll-margin-top: 7vh;
  color: whitesmoke;
  background-image: url("./components/images/random-grey-variations.png");
  position: relative;
}

/* .projects::before{
  content: "";
  width: 0;
  height: 0;
  border-bottom: 100px solid red;
  border-right: 100px solid transparent;
}

.projects::after{
  content: "";
  width: 0;
  height: 0;
  border-bottom: 100px solid red;
  border-right: 100px solid transparent;

} */

#projectsTitle {
  margin: 0 auto 10px auto;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 0 0 0;
}

.projectTilesCont {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); */


  grid-template-columns: repeat(auto-fill, minmax(370px,1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;



  
  justify-content: center;
}


.carousel {
display: grid;
grid-template-columns: 2fr 1fr 2fr;
grid-template-rows: 1fr;
padding: 20px 0;
margin: 0 auto;
align-items: center;
font-weight: bold;
font-size: min(max(12px, 6vw), 20px);
}

.carouselControl {
  /* border: 1px solid black; */
  margin: 0 20px;
  /* color: #2E9CCA; */
  /* color: #32a1a7; */
  font-size: 2em;
  font-weight: bold;
  /* background-color: #0B0C10; */
  border-radius: 10px;
  width: 60%;
  justify-self: center;
  box-shadow: 0px 0px 8px 0px #ababab;;

}

:hover.carouselControl {
  /* background-color: #c8d3de; */
  box-shadow: 0px 0px 12px 2px #929191;
}


/*individual project page css rules */

.projectCont {
  position: relative;
  margin: 0 auto 40px auto;
  height: 310px;
  /* width: 30vw; */
  display: grid;
  grid-template-rows: 3fr 2fr auto;
  grid-template-columns: 1fr;
  /* border: 1px solid black; */
  /* background-color: #D8E7F5; */
  border-radius: 2%;
  /* color: #0B0C10; */
  /* box-shadow: 4px 5px 14px 0px #afafaf; */
  box-shadow: 0px 0px 4px 1px #23363a;



  /* width: 350px; */
  justify-self: center;


  max-width: 350px;
  width: 80vw;
}

.projectCont >* {
  margin: 5px;
}

.projectText {
  font-size: min(max(12px, 4vw), 16px);
}

.projectImageCont {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  justify-self: center;
  margin: 0;
}

.projectImage {
  /* width: 100%; */
  height: auto;
  max-width: 100%;
  /* height: 170px; */
  max-height: 160px;
/* need to work on getting evenly sized square pictures */
}

.projectTitle {
  /* font-size: 1.5em; */
  font-size: min(max(18px, 6vw), 24px);
  font-weight: bold;
  margin: 0 0 5px 0;
}

.projectDesc{
  text-align: left;

}

.projectTags{
  /* display: grid; */
  /* grid-template-columns: repeat(6, auto);
  grid-template-rows: auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  /* color: #66CBFC; */
  /* color: ghostwhite; */
  color: black;
  width: 95%;
  font-size: min(max(12px, 4vw), 16px);
}

.projectTag {
  /* background-color: #0B0C10; */
  /* background-color: #32a1a7; */
  background-color: #3aafa9;
  margin: 2px;
  border-radius: 5%;
  padding: 3px;
  white-space: nowrap;
  width: fit-content;
}

/* .tileGitLink {
justify-self: center;
align-self: center;
height: 1.5rem;
}

.tileGitLink img{
  background-color: white;
  height: 100%;
  justify-self: center;
  align-self: center;
} */


/* contact me page css rules  */

.contactCont {
  /* border: 1px solid black; */
  height: 86vh;
  /* background-color: #D8E7F5; */
  background-color: #17242a;
  /* font-size: 1.5rem; */
  font-size: min(max(12px, 5vw), 24px);
  color: whitesmoke;
  position: relative;
  overflow-wrap: break-word;
}

#contactInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px 0;
  height: 30%;
  margin: 10px auto;
  height: 50%;
  width: fit-content;
}

.icon {
  width: 50px;
  /* border: 1px solid black; */
  margin: 0 20px;
}

.contactLink {
  height: auto;
  width: auto;
  overflow-wrap: anywhere;
  /* border: 1px solid black; */
}

.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contactTitle {
  margin: 0 auto 20px auto;
  padding: 20px 0 0 0;
  /* font-size: 2rem; */
  font-size: min(max(20px, 10vw), 32px);
  font-weight: bold;
  text-align: center;
}

.iconImage {
  width: 50px;

}

/* footer rules */

#footer{
  display: flex;
  height: 7vh;
  width: 100%;
  background-color: #0b0c10;
  align-items: center;
  justify-content: center;
  color: white;
  /* font-size: 1.5rem; */
  font-size: min(max(12px, 5vw), 26px);

}

.footerIcon{
  /* width: 50px; */
  height: 100%;
  /* border: 1px solid black; */
  margin: 0 20px;
  display: flex;
  align-items: center;

}

.footerIconImage {
  max-height: 50px;
  height: 90%;
  
}




