


#root {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  background-color: #D8E7F5;
  height: 100%;
}

/* header rules */

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color:white;
}

a:hover{
  /* color: #2E9CCA; */
  color:#32a1a7
}

.header {
  width: 100vw;
  height: 7.5vh;
  /* border: 1px solid black; */
  background-color: #0B0C10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  font-size: 1.5rem;

}

.headerItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin: 0 2% 0 0;
  width: 30vw;

}

.headerItem {
  /* border: 1px solid black; */
  margin: 0 20px;

}

:hover.headerItem {
  /* color: #2E9CCA; */
  color:#32a1a7
}

#name {
  font-size: 2rem;
  margin: 0 20px;
  /* color: #2E9CCA; */
  color:#32a1a7
}

/* about component css rules */

.aboutContent {
  /* border: 1px solid black; */
  width:70vw;
  height: 70vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 2% 0;
  /* color: black; */
  color: whitesmoke;
  /* background-color: #c1ceda; */
  border-radius: 5px;
  /* box-shadow: 4px 5px 14px 0px #a9a9a9; */
  box-shadow: 4px 5px 14px 0px #12181d;
  font-size: 1.2rem;
  


}

#picture {
  width: 350px;
  height: 350px;
  /* border: 1px solid black; */
  margin: 5px;
  grid-row: 1/3;
  border-radius: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;

}

#headshot {
  width:325px;
  border-radius: 50%;
  border: 10px solid #32a1a733;
}

.aboutTextCont {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 7fr 1fr 3fr;
  text-align: left;
  grid-gap: 5px;
  height: 100%;

}

.aboutTextItem {
  margin: 5px;
  text-align: left;

}

#contentCont{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #D8E7F5;
  background-color: #17242a;
  color: whitesmoke;


}

/* #contentCont::after {
  background-image: url(./components/Delicate-Arch.jpg);
  background-size: 100% 100vh;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
 

} */

li {
  list-style: none;
  padding: 0;
}

#edTitle{
  font-size: 1.5rem;
  font-weight: bold;
  grid-row: 3/4;
  grid-column: 1/2;
  margin: 0 0 0 5%;
  align-self: center;

}

#edCont{
  grid-row: 4/5;
  grid-column: 1/2;
  line-height: 150%;
  margin: 0 0 0 5%;

}

#uclaLogo{
  height: 40px;
  margin:0;
}

#skillTitle{
  font-size: 1.5rem;
  font-weight: bold;
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: center;

}

#skillCont{
  grid-column: 2/3;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr 1fr;
  align-items: flex-start;
  justify-content: center;
  justify-items: center;
  margin: 0 0 10px 0;
}

#skillCont img {
  height:50px;
  margin: 0 5px 5px 5px;
}

#bioTitle {
  font-size: 1.5rem;
  font-weight: bold;
  align-self: center;
  margin: 5px 0 0 0;

}

#bioCont {
  line-height: 150%;
  margin: 0 5% 0 0;
  text-indent: 1rem;

}

#bioCont p{
  margin-top:0;
}

/* multiple projects page css rules */

.projects {
  height:93vh;
  /* background-color: #c1ceda; */
  /* background-color: #34494c; */
  background-color: #0d1117;
  scroll-margin-top: 7vh;
  color: whitesmoke;
  background-image: url("./components/random-grey-variations.png");
}

/* .projects::before{
  content: "";
  width: 0;
  height: 0;
  border-bottom: 100px solid red;
  border-right: 100px solid transparent;
}

.projects::after{
  content: "";
  width: 0;
  height: 0;
  border-bottom: 100px solid red;
  border-right: 100px solid transparent;

} */

#projectsTitle {
  margin: 0 auto 10px auto;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 0 0 0;
}

.projectTilesCont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}


.carousel {
display: grid;
grid-template-columns: 2fr 1fr 2fr;
grid-template-rows: 1fr;
margin: 20px auto;
align-items: center;
font-weight: bold;
}

.carouselControl {
  /* border: 1px solid black; */
  margin: 0 20px;
  /* color: #2E9CCA; */
  /* color: #32a1a7; */
  font-size: 2em;
  font-weight: bold;
  /* background-color: #0B0C10; */
  border-radius: 10px;
  width: 60%;
  justify-self: center;
  box-shadow: 0px 0px 8px 0px #ababab;;

}

:hover.carouselControl {
  /* background-color: #c8d3de; */
  box-shadow: 0px 0px 12px 2px #929191;
}


/*individual project page css rules */

.projectCont {
  position: relative;
  margin: 0 auto 40px auto;
  height: 310px;
  width: 30vw;
  display: grid;
  grid-template-rows: 3fr 2fr auto;
  grid-template-columns: 1fr;
  /* border: 1px solid black; */
  /* background-color: #D8E7F5; */
  border-radius: 2%;
  /* color: #0B0C10; */
  /* box-shadow: 4px 5px 14px 0px #afafaf; */
  box-shadow: 0px 0px 4px 1px #23363a;
}

.projectCont >* {
  margin: 5px;
}

.projectImageCont {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  justify-self: center;
  margin: 0;
}

.projectImage {
  /* width: 100%; */
  height: auto;
  max-width: 100%;
  /* height: 170px; */
  max-height: 160px;
/* need to work on getting evenly sized square pictures */
}

.projectTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.projectDesc{
  text-align: left;

}

.projectTags{
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: auto;
  justify-content: left;
  align-items: center;
  /* color: #66CBFC; */
  /* color: ghostwhite; */
  color: black;
}

.projectTag {
  /* background-color: #0B0C10; */
  /* background-color: #32a1a7; */
  background-color: #3aafa9;
  margin: 2px;
  border-radius: 5%;
  padding: 3px;
  white-space: nowrap;
  width: fit-content;
}

/* .tileGitLink {
justify-self: center;
align-self: center;
height: 1.5rem;
}

.tileGitLink img{
  background-color: white;
  height: 100%;
  justify-self: center;
  align-self: center;
} */


/* contact me page css rules  */

.contactCont {
  /* border: 1px solid black; */
  height: 93vh;
  /* background-color: #D8E7F5; */
  background-color: #17242a;
  font-size: 1.5rem;
  color: whitesmoke;
}

#contactInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px 0;
  height: 30%;
  margin: 10px auto;
  height: 50%;
  width: fit-content;
}

.icon {
  width: 50px;
  /* border: 1px solid black; */
  margin: 0 20px;
}

.contactLink {
  height: auto;
  width: auto;
  /* border: 1px solid black; */
}

.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contactTitle {
  margin: 0 auto 20px 0;
  padding: 20px 0 0 0;
  font-size: 2rem;
  font-weight: bold;
}

.iconImage {
  width: 50px;

}

