


#root {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  background-color: #D8E7F5;
  height: 100%;
}

/* header rules */

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color:white;
}

a:hover{
  /* color: #2E9CCA; */
  color:#32a1a7
}

.header {
  width: 100vw;
  height: 5vh;
  /* border: 1px solid black; */
  background-color: #0B0C10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 3;

}

.headerItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin: 0 2% 0 0;
  width: 30vw;

}

.headerItem {
  /* border: 1px solid black; */
  margin: 0 20px;

}

:hover.headerItem {
  /* color: #2E9CCA; */
  color:#32a1a7
}

#name {
  font-size: 1.5rem;
  margin: 0 20px;
  /* color: #2E9CCA; */
  color:#32a1a7
}

/* about component css rules */

.aboutContent {
  /* border: 1px solid black; */
  width:70vw;
  /* height: 80vw; */
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 2% 0;
  color: black;
  background-color: #c1ceda;
  border-radius: 5px;


}

#picture {
  width: 300px;
  height: 300px;
  /* border: 1px solid black; */
  margin: 5px;
  grid-row: 1/3;
  border-radius: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

#headshot {
  width:275px;
  border-radius: 50%;
}

.aboutTextCont {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 8fr 1fr 3fr;
  text-align: left;
  grid-gap: 5px;

}

.aboutTextItem {
  margin: 5px;
  text-align: left;

}

#contentCont{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #D8E7F5;

}

/* #contentCont::after {
  background-image: url(./components/arches.jpg);
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
 

} */

li {
  list-style: none;
  padding: 0;
}

#edTitle{
  font-size: 1.5rem;
  font-weight: bold;
  grid-row: 3/4;
  grid-column: 1/2;
  margin: 0 0 0 5%;

}

#edCont{
  grid-row: 4/5;
  grid-column: 1/2;
  line-height: 150%;
  margin: 0 0 0 5%;

}

#skillTitle{
  font-size: 1.5rem;
  font-weight: bold;
  grid-column: 2/3;
  grid-row: 3/4;

}

#skillCont{
  grid-column: 2/3;
  grid-row: 4/5;
}

#bioTitle {
  font-size: 1.5rem;
  font-weight: bold;
  align-self: center;

}

#bioCont {
  line-height: 150%;
  margin: 0 5% 0 0;
  text-indent: 1rem;

}

/* multiple projects page css rules */

.projects {
  height:95vh;
  background-color: #c1ceda;
  scroll-margin-top: 5vh;
}

#projectsTitle {
  margin: 0 auto 10px auto;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 0 0 0;
}

.projectTilesCont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}


.carousel {
display: grid;
grid-template-columns: 2fr 1fr 2fr;
grid-template-rows: 1fr;
margin: 20px auto;
align-items: center;
font-weight: bold;
}

.carouselControl {
  border: 1px solid black;
  margin: 0 20px;
  /* color: #2E9CCA; */
  color: #32a1a7;
  font-size: 2em;
  font-weight: bold;
  background-color: #0B0C10;
  border-radius: 10px;
  width: 60%;
  justify-self: center;

}

:hover.carouselControl {
  background-color:#393b48;
}


/*individual project page css rules */

.projectCont {
  position: relative;
  margin: 0 auto 20px auto;
  height: 350px;
  width: 300px;
  display: grid;
  grid-template-rows: 3fr 2fr auto;
  grid-template-columns: 1fr;
  /* border: 1px solid black; */
  background-color: #D8E7F5;
  border-radius: 2%;
  color: #0B0C10;
  box-shadow: 4px 5px 14px 0px #6c7173;
}

.projectCont >* {
  margin: 5px;
}

.projectImageCont {
  /* border: 1px solid black; */
  width: 90%;
  height: 90%;
  justify-self: center;
}

.projectImage {
  width: 100%;
  height: auto;

}

.projectTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.projectDesc{
  text-align: left;

}

.projectTags{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  /* color: #66CBFC; */
  color: ghostwhite;
}

.projectTag {
  /* background-color: #0B0C10; */
  background-color: #32a1a7;
  margin: 2px;
  border-radius: 5%;
  padding: 3px;
  white-space: nowrap;
}


/* contact me page css rules  */

.contactCont {
  /* border: 1px solid black; */
  height: 95vh;
  background-color: #D8E7F5;
}

#contactInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px 0;
  height: 30%;
  margin: 10px auto;
  height: 30%;
  width: fit-content;
}

.icon {
  height: 30px;
  /* border: 1px solid black; */
  margin: 0 10px;
}

.contactLink {
  height: auto;
  width: auto;
  /* border: 1px solid black; */
}

.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contactTitle {
  margin: 0 auto 20px 0;
  padding: 20px 0 0 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.iconImage {
  height: 30px;

}

